.frogcomplete-fade {
  opacity: 1;
  transition: opacity .4s;
}

/*
 * Utility class to hide an element.
 * display:none is not used to provide smooth apparition.
 */
.frogcomplete-hide {
  opacity: 0;
  height: 0;
  z-index: -1 !important;
}

.frogcomplete-suggestion {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: auto;
  z-index: 10;
  background: white;
  display: block;
  overflow: auto;
}

.frogcomplete-suggestion li {
  padding: .1em .5em;
  display: block;
}

.frogcomplete-suggestion li:hover, .frogcomplete-suggestion li:focus {
  background: rgba(230, 96, 0, .8);
  cursor: pointer;
  outline: 0;
}

.frogcomplete-suggestion li.frogcomplete-more {
  text-align: center;
  font-size: 90%;
  padding: 0 1em;
}

.frogcomplete-suggestion li.frogcomplete-more:hover {
  background: white;
  cursor: default;
}

/* to have nice round corners */
.frogcomplete-suggestion li:first-child:hover, .frogcomplete-suggestion li:first-child:focus {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.frogcomplete-suggestion li:last-child:hover, .frogcomplete-suggestion li:last-child:focus {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.frogcomplete-error {
  color: rgb(198,15,19);
  background: rgb(249, 230, 230);
  position: absolute;
  z-index: 15;
  padding: .5em;
  border-radius: 4px;
}

.frogcomplete-suggestion li.frogcomplete-error, .frogcomplete-suggestion li.frogcomplete-error:hover {
  color: rgb(198,15,19);
  background: rgb(249, 230, 230);
}
